/*
   Hi, this is bad CSS, you shouldn't structure your CSS this way. Structurally based CSS is a bad idea because it's inherently brittle; if you change the way your nest something you break it. I'm doing it this way because it's less typing for everyone involved to not have to type long class names
*/

* {
    box-sizing: border-box;;
  }
  
  html {
    font-family: Helvetica Neue, Helvetica, sans-serif;
  }
  
  .app {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url(/public/img/bg2.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #333;
  }

  .page-not-found {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url(/public/img/404.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #333;
  }
  
  .page-not-found > a {
    padding: 10px 40px;
    background-color: #333;
    color: #fafafa;
    border-color: transparent;
    text-decoration: none;
    border-radius: 4px;
    position: relative;
    top: 100px;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  .page-not-found > a:hover, .page-not-found > a:focus {
    background-color: #666;
  }
  
  .page-not-found > a:active {
    background-color: #fafafa;
    color: #333;
    border-color: #333;
  }

  .app > h1 {
    color: white;
  }
  
  .gray-box {
    background-color: rgba(220, 220, 220, .7);
    padding: 15px 30px;
    border-radius: 5px;
  }
  
  .gray-box > h1 {
    color: #B10DC9;
  }
  
  .gray-box > input, .gray-box > form > input {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
  }
  
  .gray-box > form {
    width: 100%;
    min-width: 300px;
  }
  
  .gray-box > a {
    margin-top: 15px;
    padding: 10px 40px;
    background-color: #333;
    color: #fafafa;
    border-color: transparent;
    display: block;
    text-decoration: none;
    border-radius: 4px;
  }
  
  .gray-box > a:hover, .gray-box > a:focus {
    background-color: #666;
  }
  
  .gray-box > a:active {
    background-color: #fafafa;
    color: #333;
    border-color: #333;
  }
  
  .light-switch-off {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url(/public/img/off.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .light-switch-on {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url(/public/img/on.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  pre {
    text-align: left;
  }
  
  header {
    z-index: 10;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    background-color: #fafafa;
    padding: 8px 30px;
  }
  
  header > h1 {
    color: #B10DC9;
    margin: 0;
  }
  
  header > h1 > a {
    color: #B10DC9;
    text-decoration: none;
  }
  
  header > h2 {
    font-weight: normal;
    margin: 0;
  }
  
  header > h2 > a {
    color: #aaa;
    text-decoration: none;
  }
  
